// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {
  
    @content;

  }

}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

.index {
  width: 100%;
  
  &__header {
    padding: 12px;
  }
  
  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  &__work {
    position: relative;
    padding: 12px;
    cursor: pointer;

    @include mq('pc') {
      width: 20%;
    }

    @include mq('tab') {
      width: 33.33333333%;
    }

    @include mq('sp') {
      width: 100%;
    }

    &::before {
      content: "";
      padding-top: 100%;
      display: block;
    }
  }

  &__link {
    display: block;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &__filter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    z-index: 1;

    &:hover {
      opacity: .2;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
  }
}
